<div class="profile">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4  image" >
     <%if current_user.image_id == nil %>
       <%= image_tag(current_user.user_image,  :size => "200x200", id:"image1", class: "image") %>
     <% else%>
       <%= attachment_image_tag  current_user, :image, format: 'jpeg', size: "200x200", id:"image1" %>
     <% end %>
     <%= form_with(model: @user, local: true, class: "image_form") do |f| %>
       <%= f.file_field  :image, class:"overlay",id: "file_field" , style: "color:white;" ,:lang => "en" %>
       <%= f.submit 'Change',class: 'overlay' %>
     <% end %>
   </div>

    <div class="col-5 name">
      <h3>Name：<%= current_user.name%></h3>
      <h3>NickName：<%= current_user.nick_name %></h3>
      <%= form_with(model: @user, local: true) do |f| %>
        <%= f.text_field :nick_name, class: "overlay"  %>
        <%= f.submit 'Change',class: 'overlay' %>
      <% end %>
    </div>
    <div class="colo-1 ch_btn1">
      <a href="" id="btn" style="color: black;">ChMode</a>
      <div class="overlay ch_btn2">
        <a href="" id="close" style="color: black;">back</a><br>
      </div>
      <div class="overlay ch_btn3">
        <% if current_user.email != ENV['EMAIL'] %>
          <%= link_to "Withdrawal", user_path(current_user), "data-confirm" => "本当に退会しますか？",
              method: :delete, style: "color: black;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

$(function() {
  $(".overlay").css("display", "none");
  $("#close").click(function() {
    $(".overlay").fadeOut(); /*ふわっと消える*/
    return false;
  });
  $("#btn").click(function() {
    $(".overlay").fadeIn(); /*ふわっと表示*/
    return false;
  });
});

var file = document.querySelector('#file_field');
  file.onchange = function (){
    console.log("header")
    // $('.circle, .form_wrapper').remove();
    var fileList = file.files;
    if (file.files[0] == null) {
      document.querySelector('#image1').src = "";
    } else {
      //読み込み
      console.log("bbbbb")
      var reader = new FileReader();
      reader.readAsDataURL(fileList[0]);
      //読み込み後
      reader.onload = function  () {
        document.querySelector('#image1').src = reader.result;
      };
    };
  };
</script>

<style type="text/css">
.profile{
  color: black;
}
.image{
  border-radius: 200px;
}
.image_form{
  padding-top:   5px;
  padding-left:  35px;
}
.name{
  margin-top:    25px;
  padding-left:  10px;
}
.ch_btn1{
  margin-top:    25px;
  padding-left:  10px;
}
.ch_btn2{
  margin-top:    20px;
}
.ch_btn3{
  margin-top:    140px;
}
</style>
