<% c_user = current_user %>
<ul id="tab-menu" class="clearfix" style="border-radius: 100px;">
  <li ><a name="#tab1" class="active btn">Profile</a></li>
  <li><a name="#tab2" class="btn">Favorite CB</a></li>
  <li>
    <% if  c_user.email == ENV['EMAIL'] %>
      <%= link_to "Admin", admin_path(c_user) %>
    <% elsif  c_user.status == "contribution"  %>
      <%= link_to "Contributor", user_path(c_user), class: "btn"%>
    <% else  %>
      <%= link_to "Become CB?",st_up_path(c_user), method: :post, class: "btn"  %>
    <% end %>
  </li>
  <li><%= link_to "Sign out", signout_path, id: "sign_out", class:"btn" %></li>
</ul>

<div id="tab-contents" class="clearfix">
  <div id="tab1" class="tab"><%= render "users/profile" %></div>
  <div id="tab2" class="tab"><%= render "partial/cds" %></div>
</div>

<style type="text/css">
.clearfix:after{
  content:"";
  clear: both;
  display: block;
}
#tab-menu{
  padding: 0;

}
#tab-menu li {
  float: left;
  list-style-type: none;
  width: 25%;

}

#tab-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents .tab {
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
  border-radius: 100px;
}

#tab-contents p{
  color:#000;
  line-height: 2.5;
}
</style>

<script type="text/javascript">
$('#tab-contents .tab[id != "tab1"]').hide();

$('#tab-menu a').on('click', function() {
  $("#tab-contents .tab").hide();
  $("#tab-menu .active").removeClass("active");
  $(this).addClass("active");
  if ($(this).attr("name")) {
  $($(this).attr("name")).show();
  return false;
}});

</script>
