<div id="top"></div>
<div class="container  admin">
  <h2>ユーザー情報</h2>
  <div>
    <%= form_with(url: admin_path, method: :get, local: true) do |f| %>
      <%= f.text_field :content, :placeholder => "名前を入力" %><%= f.submit "探す" %><%= flash.now[:danger] %>
    <% end %>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>ユーザー画像</th>
        <th>名前</th>
        <th>ニックネーム</th>
        <th>メールアドレス</th>
        <th>ユーザー削除</th>
        <th>ユーザステータス</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    <tbody>
      <tr>
      <% if user.status == "gest" || user.status == "contributor" %>
        <td><%= attachment_image_tag user, :image,:fill, 60, 60, format: 'jpeg', size: "60x60" %></td>
        <td><%= user.name %></td>
        <td><%= user.nick_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to "削除", user_path(user.id), method: :'delete' %></td>
        <td><%= user.status %></td>
      <% end %>
      </tr>
    </tbody>
    <% end %>
  </table>
  <%= paginate @users, class: "paginate" %>
</div>

<style type="text/css">
#top{
  height: 300px;
  width: 100%;
  z-index: 1;
  background-image: url("/admin.header1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

li{
  list-style-type: none;
   float: left;
}
th, td{
  text-align: center;
}
.admin{
  margin-top: 50px;
}
</style>
