<div id="top"></div>
<h5 class="flash_m"><%= flash.now[:notice] %></h5>
<div class="container change_cd">

  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <%= form_with(model: @cd, local: true)  do |f| %>
        　<%= f.label :cd_image,style: "margin-right:3px;" %>   ：<%= f.attachment_field  :cd_image %><br>
        　<%= f.label :cd_title ,style: "margin-right:3px;"%>　 ：<%= f.text_field :cd_title, :placeholder => "CD titile" %><br>
        　<%= f.label :cd_genre,style: "margin-right:4px;" %>   ：<%= f.text_field :cd_genre, :placeholder => "CD genre" %><br>
        <div>
          <%= f.fields_for :musics do |i| %>
            <%= render 'music_fields', f: i %>
          <% end %>
          　<%= link_to_add_association '+Audio',f, :musics, class: "btn btn-outline-secondary"  %>
         </div>
         <%= f.submit "Create" , style: "margin-left:370px; width: 83px", "data-confirm" => "変更は大丈夫？" ,class: "btn btn-outline-secondary"%>
      <% end %>
    </div>
    <div class="col-3">

    </div>
  </div>
</div>

<style type="text/css">

#top{
  height: 300px;
  width: 100%;
  z-index: 1;
  background-image: url("/edit.header1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.change_cd{
  margin-top: 50px;
}


.change_cd a{
  color: black;
}

.change_cd a:hover{
  text-decoration: none;
  opacity: 0.5;
}

.flash_m{
  position: absolute;
  top: 275px;
  left:  0px;
}

</style>
