<div id="top"></div>
<div class="container change_cd">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <%= form_with(model: @cd, local: true)  do |f| %>
        <%= f.label :cd_image,style: "margin-right:1px;" %>   ：<%= f.attachment_field  :cd_image %><br>
        <%= f.label :cd_title ,style: "margin-right:1px;"%>　 ：<%= f.text_field :cd_title %><br>
        <%= f.label :cd_genre,style: "margin-right:2px;" %>   ：<%= f.text_field :cd_genre %><br>
        <div>
          <%= f.fields_for :musics do |i| %>
            <%= render 'music_fields', f: i %>
          <% end %>
         <%= link_to_add_association 'AddMusic',f, :musics %>
        </div>
        <%= f.submit "Update"  , style: "margin-left:400px;"  %>
      <% end %>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<style type="text/css">

#top{
  height: 300px;
  width: 100%;
  z-index: 1;
  background-image: url("/edit.header1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.change_cd{
  margin-top: 50px;
}

.change_cd a{
  color: black;
}

.change_cd a:hover{
  text-decoration: none;
  opacity: 0.5;
}
</style
