<% c_user = current_user %>
<div id="top"></div>
<div class=" container" style="margin: 50px auto 80px auto ;">
  <h5 class="flash_m"><%= flash.now[:notice] %></h5>
  <div class="row">
    <div class="col-5  image" style="text-align: center;" >
      <%if @user.image_id == nil %>
        <%= image_tag(@user.user_image,  :size => "300x300", class:"image") %>
      <% else%>
        <%= attachment_image_tag  @user, :image, format: 'jpeg', size:"300x300" , class:"image"%>
      <% end %>
    </div>
    <div class="col-7 name" style="padding-left: 25px;">
      <div class="row">
        <div class="col-5">
          <h2>CB:<%= @user.nick_name %></h2>
        </div>
        <div class="col-7" style="text-align: right; padding-right: 33px;">
          <%= link_to "PDF", "http://localhost:3000/users/#{@user.id}.pdf",:target=>["_blank"],  class: "btn btn-primary", style:" width: 73px;"%>
          <button type="button" class="btn btn-primary " id="button1" style="width: 77px;">QR</button><br>
          <% if  c_user  && c_user.status == "contribution" && c_user.id == @user.id %>
            <button type="button" class="btn btn-primary " id="button3" style="margin-top: 10px; width: 73px;">Introd</button>
            <button type="button" class="btn btn-primary " id="button2" style="margin-top: 10px;">AddCD</button>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12"><h1>Introduction:</h1></div>
      </div>
      <div class="row">
        <div class="col-11" style="height: 100%;  border: 1px solid black; margin-left: 3%;">
          <% if @user.introduction.empty? %>
            <h4>
              Welome to contributor!!<br>
              Please add a Introduction<br>
            </h4>
          <% else%>
            <h4><%= simple_format(@user.introduction) %><h4>
          <% end %>
        </div>
        <div class="colo-1"></div>
      </div>
    </div>
  </div>
</div>

<div class="container" >
  <div class="row">
    <div class="col-12">
      <ul class="slider">
        <% @user.cds.each do |f| %>

        <li class="item">
          <div style="position: relative;">
          <% if c_user %>
            <% if f.favorited_by?(c_user) %>
              <%= link_to fav_cds_path(f), class: "fav", remote: true do %>
                <i class="fas fa-heart" ></i>
              <% end %>
            <% else %>
              <%= link_to fav_cds_path(f), class: "fav", remote: true do %>
                <i class="far fa-heart" ></i>
              <% end %>
            <% end %>
          <% end %>
          <% if  c_user  && c_user.status == "contribution" && c_user.id == @user.id %>
            <%= link_to "Che", edit_user_path(f), class: "btn btn-primary ch_cd"%>
            <%= link_to "Del", cd_path(f.id), method: :delete,"data-confirm" => "Do you really want to delete this？", class: "btn btn-danger ch_de" %>
          <% end%>
          <p class="cd_title"><%= f.cd_title%></p>
          <%= link_to op_cd_path(f),id:"op", remote: true do %>
            <%= attachment_image_tag  f, :cd_image, format: 'jpeg',fallback: "/audio.no_image.jpg", size: "250x250", id: "#{f.id}", class: "item_image"%>
          <% end %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id= "cd_show">
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <h3>Select_CD</h3>
    </div>
  </div>
</div>

<div class="modal fade" id="dialog1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render "partial/qr_code" %>
    </div>
  </div>
</div>

<div class="modal fade" id="dialog2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="add_music">
        <%= form_with(model: @cd, local: true)  do |f| %>
          　<%= f.label :cd_image,style: "margin-right:3px;" %>    ：<%= f.attachment_field  :cd_image %><br>
          　<%= f.label :cd_title ,style: "margin-right:3px;"%>　  ：<%= f.text_field :cd_title, :placeholder => "CD titile" %><br>
          　<%= f.label :cd_genre,style: "margin-right:4px;" %>    ：<%= f.text_field :cd_genre, :placeholder => "CD genre"%><br>
          <div>
            <%= f.fields_for :musics do |i| %>
              <%= render 'music_fields', f: i %>
            <% end %>
           　<%= link_to_add_association '+Audio',f, :musics, class: "btn btn-outline-secondary"  %>
          </div>
          <%= f.submit "Create" , style: "margin-left:370px; width: 83px" ,class: "btn btn-outline-secondary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dialog3">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="text-align: center;">
      <%= form_with(model: @user, local: true) do |f| %>
        <%= f.label :introduction%><br />
        <%= f.text_area :introduction, :placeholder => "Introduction", style:"color: black; width: 80%; height: 150px;" %><br />
        <%= f.submit 'Contribution',style: "margin-left: 280px; ",class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
$('#button1').on('click', function() {
    $('#dialog1').modal();
});

$('#button2').on('click', function() {
    $('#dialog2').modal();
});

$('#button3').on('click', function() {
    $('#dialog3').modal();
});

$('#button4').on('click', function() {
    $('#dialog4').modal();
});

$('.fav i').each(function(a){
  $(this).attr('id','fav_' + (a+1));
});

$(".fav i").each(function (a) {
  a = a+1;
  $('#fav_' + a ).click(function() {
    if ($("#fav_"+ a).hasClass('fas')) {
      $("#fav_"+ a).removeClass('fas').addClass('far');
    } else {
      $("#fav_"+ a).removeClass('far').addClass('fas');
    }
  });
});

$(function(){
  $(document).on("ajax:success","#op",function(e){
    data = e.detail[0]
    $("#cd_show").html(e.detail[2]['response']).modal();
  })
})
</script>

<style type="text/css">

#top{
  height: 300px;
  width: 100%;
  z-index: 1;
  background-image: url("/show.header1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container{
  margin-top: 100px;
}
.fa-heart {
    color: red;
  }
.slider{
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 20px;
  border-top: 3px solid rgba(0,0,0,0.5);
  border-bottom: 3px solid rgba(0,0,0,0.5);
}
.item {
  /* 横スクロール用 */
  display: inline-block;
  width: 250px;
  /* 見た目調整 */
  height: 250px;
  margin: 16px;
  font-size: 48px;
}

.item_image{

  border: 10px solid rgba(0, 0, 0, 0.4);
  border-radius: 25px;
}
.image{
  border-radius: 150px;
}

.fav{
  position: absolute;
  z-index: 2;
  left: 10px;
}

#op{
  z-index: 1;
}

.add_music{
  padding:20px;
}

.add_music a{
  color: black;
}

.add_music a:hover{
  opacity: 0.5;
  text-decoration: none;
}

.ch_cd{
  position: absolute;
  bottom: 0;
  right: 50px;
}
.ch_de{
  position: absolute;
  bottom: 0;
  right:  0;
}
.cd_title{
  font-size:5px;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  bottom: 0;
  left: 15px;
  border-radius: 5px;
}

.flash_m{
  position: absolute;
  top: 275px;
  left:  0px;
}

</style>
