<div class="container-fruid header" >
  <div id="sp-menu">
    <div class="wrap">
    <% if current_user %>
        <%= render "users/user_hm" %>
    <% else %>
      <%= render "partial/sign_in" %>
    <% end %>
    </div>
  </div>
</div>
<div>
  <h2 >
   <%= link_to "L i G a t e", root_path, id: "hm-logo" %>
  </h2>
  <div id="hm-icon">
    <%= link_to "C o n t a c t  U s", ENV['OTOIAWASE'], :target=>["_blank"], class: "hm-li"%>
    <%= link_to "", class: "menu-trigger"  do %>
      <span></span><span></span><span></span>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('.menu-trigger').on('click', function() {
    $(this).toggleClass('active');
    $('#sp-menu').fadeToggle();
    return false;
  });
});
</script>

<style type="text/css">
#hm-logo{
position: fixed;
left: 20px;
top: 14px;
z-index: 10;
font-size: 50px;
font-family: 'Comic Sans MS';
color: black;
}



#hm-logo:hover{
  opacity: 0.5;
  color: black;
  text-decoration:none;
}

#hm-icon{
position: fixed;
right: 30px;
top: 30px;
z-index: 10;
}


.header{
  height: 100px;
}

.hm-li{
  color: black;
  padding-right: 30px;
  font-size: 40px;
  font-family: 'Comic Sans MS';
  text-decoration:none;
}

.hm-li:hover{
  color: black;
  opacity: 0.5;
  text-decoration: none;
}

.wrap{
  width: 90%;
  max-width: 800px;
  margin: 100px auto;
}

.menu-trigger,.menu-trigger span {
display: inline-block;
transition: all .4s;
box-sizing: border-box;
}

.menu-trigger {
position: relative;
width: 50px;
height: 44px;
}

.menu-trigger span {
position: absolute;
left: 0;
width: 100%;
height: 4px;
background-color: #000;
border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
top: 0;
}

.menu-trigger span:nth-of-type(2) {
top: 20px;
}

.menu-trigger span:nth-of-type(3) {
bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
-webkit-transform: translateY(20px) rotate(-45deg);
transform: translateY(20px) rotate(-45deg);
background-color: #fff;
}

.menu-trigger.active span:nth-of-type(2) {
opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
-webkit-transform: translateY(-20px) rotate(45deg);
transform: translateY(-20px) rotate(45deg);
background-color: #fff;
}

/* ------ spメニュー ------ */

#sp-menu {
position: fixed;
top: 0;
left: 0;
background: rgba(0,0,0,0.7);
color: #fff;
width: 100%;
min-height: 100%;
display: none;
z-index: 9;
}

#sp-menu li{
text-align: center;
margin-bottom: 30px;
}

#sp-menu a{
color: #fff;
text-decoration: none;
font-weight: bold;
}

#sp-menu a:hover{
  opacity: 0.5;
}
</style>
