<!DOCTYPE html>
<html>
  <head>
    <title>Ligate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: rgba(0,0,0,0);">
    <header class="fixed-top">
      <%= render "homes/header" %>
    </header>
    <%= yield %>
  </body>

</html>

<style type="text/css">

.contents{
  margin-bottom: 100px;
}
</style>
